<%= turbo_frame_tag("selected-items") do %>
  <%- total_bill = 0 %>
  <table>

    <%- @selected_items.each do |item| %>
    <%- unless item.cheapest.blank? %>
      <%- total_bill += item.cheapest.price %>
      <tr>
        <td>
          <%- unless item.picture.blank? %>
          <%= image_tag(item.picture, class: 'small-thumbnail' , alt: "Thumbnail for #{item.full_name}" )%>
        <%- end %>
        </td>

        <td>
          <p>
            Best Deal: <%= item.cheapest.formatted %> | Available From: <%= item.cheapest.store %>
          </p>
        </td>
        <div>
          <td>
            <p>
              <%- unless item.other_suppliers.blank? %>
                All Other Suppliers: <%= item.other_suppliers %>
              <%- end %>
                    <!-- The user can expand to alter their selection, though, if they want a higher per gram rate with a lower overall total (i.e., smaller package). -->
                    <!-- This should go in a hover card  -->
            </p>
          </td>


          </div>
        </tr>

        <%- end %>
      <% end %>
        <tfoot>
          <tr>
            <td>Total: </td>
            <td><%= number_to_currency(total_bill) %></td>
          </tr>
        </tfoot>
  </table>
  <%- end %>